section.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1em;

  img.gallery__item {
    cursor: pointer;
    width: 16em;
    border-radius: 10px;
    border: 2px solid var(--tertiary);
    position: relative;
  }

  .caption {
    background-color: white;
  }
}
