h1 {
  font-size: 2.5em;
}

.app-icon {
  width: 80px;
  border-radius: 35px;
  float: right;
}

.app-card {
  width: 12.5em;
  text-align: center;
  &__thumbnail {
    clear: both;
    width: 12em;
  }

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.24);

  &:hover {
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.22);
    transition: 0.2s;
  }
}

.app-available {
  font-size: 0.9em;
  color: var(--primary-alt);

  &__platform {
    background-color: var(--primary);
    color: var(--tertiary);
    padding: 0.3em 0.9em;
    // margin: 1em;
    border-radius: 20px;
    font-weight: 600;
  }
}
