@import './_global-imports';
@import '../components/Nav.scss';
@import '../components/Projects.scss';
@import '../pages/Gallery.scss';
@import '../pages/HomePage.scss';
@import './_animations';
@import '../styles/_global-imports';

* {
  box-sizing: border-box;
  outline: none;

  a {
    color: inherit;
    text-decoration: none;
  }

  ul {
    list-style-type: none;
  }
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: $font-text, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

footer {
  position: fixed;
  padding: 5px 5px 0px 5px;
  bottom: 0;
  width: 100%;
  height: 20px;
  display: inline;
}

#root__child {
  min-height: 110vh;
  width: 100%;

  @include themify($themes) {
    background-color: themed('backgroundColor');
  }

  &__container {
    margin: 0 auto;
    max-width: $desktop-size;
    height: max-content;

    @include themify($themes) {
      background-color: themed('contentColor');
      color: themed('textColor');
    }

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
}

.chevron {
  height: 2rem;

  &--left-side {
    animation-name: left_to_right;
    animation-duration: 0.666s;
    animation-iteration-count: infinite;
    position: relative;
  }
  &--right-side {
    animation-name: right_to_left;
    animation-duration: 0.666s;
    animation-iteration-count: infinite;
    position: relative;
  }
}

img.new-tab {
  height: 0.2rem;
}

@media screen and (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}

#main-content {
  padding: 1.2em;
  width: 100%;
  height: 100%;
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
