
@import './_global-imports';
@import '../components/Nav.scss';
@import '../components/Projects.scss';
@import '../pages/HomePage.scss';
@import './_animations';

* {
  box-sizing: border-box;
  outline: none;

  a {
    color: inherit;
    text-decoration: none;
  }
  
  ul {
    list-style-type: none;
  }
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: $font-text, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $main-text-color;
  background-color: $pink-lavender;
  font-size: $main-text-size;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

footer {
  position: fixed;
  padding: 5px 5px 0px 5px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 20px;
  background: grey;
  display: inline;
}

#root__child {
  background: $uranian-blue;
  margin: auto;
  height: 100%;

  position: relative;
  max-width: $desktop-size;
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chevron {
  height: 2rem;
}

.chevron--left-side {
  animation-name: left_to_right;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  position: relative;
}

.chevron--right-side {
  animation-name: right_to_left;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  position: relative;
}

img.new-tab {
  background-color: aliceblue;
  height: 0.2rem;
}

@media screen and (prefers-reduced-motion: reduce) {
  * {
    animation-duration:  0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}

// p { 
//   color: $other-lavender;
// } 