h1 {
  font-size: 4em;
}

hr {
  margin: 2em 0;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
  margin-bottom: 20px;

  .tag-list__item {
    input[type="checkbox"] {
      display: none;

      & + span {
        color: var(--primary);
        background-color: var(--tertiary);
        border-radius: 20px;
        padding: 0.4em 0.8em;
        &:hover {
          background-color: var(--primary-alt);
          color: var(--tertiary);
        }
      }

      &:checked + span {
        background-color: var(--primary-alt);
        color: var(--secondary);
      }
    }
  }
}
