h1 {
  font-size: 4em;
}

hr {
  margin: 2em 0;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
  margin-bottom: 20px;

  .tag-list__item {
    font-family: "Roboto Slab", serif;

    input[type="checkbox"] {
      display: none;

      & + span {
        color: var(--primary);
        border: 2px dashed var(--tertiary);
        padding: 0.4em 0.8em;

        &:hover {
          border: 2px dashed var(--primary-alt);
        }
      }

      &:checked + span {
        background-color: var(--primary-alt);
        color: var(--secondary);
        border: 2px solid var(--primary-alt);
      }
    }
  }
}
