section.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;

  article.gallery__photo img.gallery__photo__content {
    width: 300px;
    height: auto;
    border-radius: 5px;
  }
}
