@import '../styles/_global-imports';

nav.nav {
  width: 100%;
  position: sticky;
  top: 0;
  letter-spacing: 0.1px;
  z-index: 999;
  display: flex;
  flex-direction: row;
  padding: 0 1em;

  // expanded nav attribution covers entire screen for mobile
  // this one is the parent element
  &.nav--mobile--expanded {
    position: relative;
  }
  
  &.nav--mobile--expanded div.nav__box {
    flex-direction: column;
    justify-content: center;
    position: absolute;
    gap: 1.75em;
    
    margin: 50vh auto 0;
    transform: translateY(-50%);
    width: 100vw;
    height: 100vh;
    z-index: -1;

    @include themify($themes) {
      background-color: themed('contentColor');
      opacity: 0.98;
    }
  }


  @include themify($themes) {
    background-color: themed('contentColor');
    opacity: 0.88;
  }

  button.nav-btn {
    margin-left: auto;
    .nav-btn__icon {
      font-size: 3rem;
    }
  }

  .nav__box {
    margin: 0;
    margin-left: auto;
    display: flex;

    align-items: center;
    gap: 0.5em;
    flex-direction: row;

    :first-of-type {
      margin-right: auto;
    }

    font-size: 1.2em;

    &__item {
      font-weight: 500;
      padding: 0.5em;
      height: 2em;
      width: 100%;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
