@import '../styles/_global-imports';

section.projects {
    background: $baby-blue-eyes;
    max-width: $tablet-size;

    h2.projects__title {
        font-family: $font-section;
        text-transform: capitalize;
        font-size: 2rem;
        padding: 0 1rem;
    }

    ul.projects__list {
        display: flex;
        flex-wrap: wrap;

        background: $nadeshiko-pink;
        justify-content: center;
        padding: 2rem 1.5rem;
        gap: 1.5rem;


        article.project {
            background-color: $orchid-pink;
            padding: 0 1rem;
            width: 250px;

            border-radius: 10px;
            box-shadow: 2px 3px 1px 1px $pink-lavender;

            a img {
                    height: 150px;
                    image-rendering: pixelated;
            }
            

            h3 {
                font-family: $font-title;
                color: rgb(191, 104, 104);
                text-transform: capitalize;

                &::after {
                    // content: "hewo";
                    background-image: "https://cdn.discordapp.com/attachments/273539705595756544/998088503999082506/unknown.png";
                }
            }

            p {
                margin: 1rem 0;
                color: $other-lavender;
            }
        }
    }
}