.loading {
  position: relative;
  margin: 1em;
  box-sizing: border-box;

  div {
    width: 0px;
    height: 10px;
    position: absolute;
    animation: example 0.5s, stretch_ 0.6s;
    animation-iteration-count: infinite;
    background-color: var(--tertiary);
    opacity: 0.5;

    border-radius: 30px;
  }
}

@keyframes example {
  20% {
    background-color: var(--qwik-dark-blue);
  }
  50% {
    background-color: var(--qwik-dark-purple);
    }
  99% {
    background-color: var(--tertiary);
  }
}

@keyframes stretch_ {
  100% {
    width: 100%;
  }
}